@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 5vh;
  background-color: #131313;
  color: whitesmoke;
  font-family: "Girassol", cursive;
}

.editor-pane {
  height: 50vh;
  display: flex;
  text-align: left;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.editor-head {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  align-items: center;
}

textarea,
iframe {
  background: #222;
  outline: none;
  border: none;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

textarea {
  width: 100%;
  height: 100%;
  overflow: scroll;
  resize: none;
}

.output-head {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-btn {
  cursor: pointer;
  margin-left: 0.5rem;
  background: none;
  border: none;
  min-width: 1.5rem;
}

.collapse-btn img {
  height: 1rem;
  width: 1rem;
}

img {
  height: 3vh;
}

iframe {
  height: 44vh;
  width: 100%;
}

.info {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-5vh);
}

.modal {
  height: 400px;
  width: 600px;
  background: rgb(204, 204, 204);
  border-radius: 20px;
  color: rgb(160, 77, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #a7a7a7;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .editor-pane {
    flex-direction: column;
    height: 60vh;
  }

  iframe {
    height: 33vh;
  }
}
