@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  font-family: "Roboto", sans-serif;
}

#game-board {
  background: rgba(255, 255, 255, 0.7);
  width: 95vmin;
  height: 95vmin;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  grid-gap: 0.5vmin;
}

.score-container {
  width: 95vmin;
  height: 95vmin;
  box-sizing: border-box;
  position: absolute;
  z-index: 8;
}

.score {
  color: black;
  text-align: right;
  width: 100%;
  padding: 20px 30px;
  user-select: none;
}

.snake {
  background-color: rgb(24, 98, 173);
  border-radius: 20%;
}

.food {
  background-color: rgb(211, 98, 22);
  border-radius: 50%;
}

.controls {
  display: none;
  position: absolute;
  bottom: 50px;
}

.direction-box {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #333;
  border-radius: 15px;
  box-shadow: 0 5px 15px 5px rgb(33, 33, 33, 0.7);
}

.direction-box:hover {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.fas {
  font-size: 3rem;
}

.gameover {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  width: 95vmin;
  height: 95vmin;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameover h1 {
  font-size: 5rem;
  user-select: none;
  color: white;
  text-shadow: 0 2px 5px black;
}

.gameover h2 {
  font-size: 3rem;
  user-select: none;
  color: white;
}

.restart {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(24, 98, 173);
  background: white;
  box-shadow: inset 0 0 0 5px rgb(24, 98, 173);
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
}

.restart:hover {
  background: rgb(24, 98, 173);
  color: white;
}

@media only screen and (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .gameover h1 {
    font-size: 3.5rem;
  }
}
